{% extends 'shopper/base.html' %}
{% load static%}

{% block extra_head %}
  <title>メインページ</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
  <!-- メイン画面用CSS -->
  <link rel="stylesheet" href="{% static 'shopper/css/u_main.css' %}"/>
  {% endblock %}
  
{% block content %}
<div class="d-flex justify-content-center align-items-center"></div>

  <div class="container">
    <div class="">
      <br>
      <h2>商品情報をチェック</h2>
      <div class="row justify-content-start my-4">
        <a type="button" class="btn btn-primary col-3 col-lg-2 mx-2" href="{% url 'u_RegisterProduct' %}"><i class="fas fa-edit"></i> 商品投稿</a>
    
      </div>

    </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="mylist-tab" data-bs-toggle="tab" data-bs-target="#mylist" type="button" role="tab" aria-controls="mylist" aria-selected="true">
            最安情報</button>
          <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false">登録履歴</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active my-1" id="mylist" role="tabpanel" aria-labelledby="mylist-tab">
          <div id="area_selector" class="row my-2">
            <div class="col-3 col-lg-2 pe-0 ">
              <select id="header_region" class="form-select" name="header_region"
                aria-label="Default select example">
                <option>地方</option>
                {% for region in regions %}
                <option value="{{region.id}}"
                  {%if region.id == request.session.tmp_areas.0.prefecture.region.id %}
                  selected
                  {% endif %}
                  >
                  {{region.name}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-3 col-lg-2 px-0">
              <select id="header_prefecture" class="form-select"
                name="header_prefecture" aria-label="Default select example">
                <option>都道府県</option>
                {% for prefecture in prefectures %}
                <option data-header_region_id="{{prefecture.region.id}}"
                  value="{{prefecture.id}}"
                  {%if prefecture.id == request.session.tmp_areas.0.prefecture.id %}
                  selected
                  {% endif %}
                  >
                  {{prefecture.name}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-5 col-lg-7 px-0">
              <div class="ms-parent" style="width:100%;">
                <button id="msbtn" type="button" class="ms-button form-select"><span></span></button>
                <div class="ms-drop bottom">
                  <ul class="row" style="max-height: 250px;">
                    {% include 'shopper/u_MainAreaSelection.html' %}
                  </ul>
                </div>
              </div>
            </div>
            <button id="submit_areas_selection" type="button" class="btn btn-primary col-1">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div id="sort_selector" class="row my-2">
            <div class="col-4 col-sm-3 col-lg-2 pe-0 ">
              <select id="sort" class="form-select"
                name="sort" aria-label="Default select example">
                <option value="0">価格</option>
                <option value="1">価格/数量</option>
              </select>
            </div>
            <button id="submit_sort" type="button" class="btn btn-primary col-1">
              <i class="fas fa-sort-amount-up-alt"></i>
            </button>
          </div>

          <!-- エリア選択時にはajaxで以下のブロックを全て入れ替える-->
          {% if user_categorized_product_lists != null and user_categorized_product_lists|length != 0 %}
            <ul id="product_list">
              <!-- 品目ごとのブロック -->
              {% for user_categorized_product_list in user_categorized_product_lists %}
              <li class="card mb-1">
                  <div class="card-body overflow-auto">
                    <h5 class="card-title">{{user_categorized_product_list.0.item.name}}/{{user_categorized_product_list.0.item.unit.name}}</h5>
                    <div class="row mb-1 flex-nowrap">
                      <div class="list-header col-2 col-lg-1">
                        {% if request.session.sort == 1 %}
                          価格/{{user_categorized_product_list.0.item.unit.name}}
                        {% else %}
                          価格
                        {% endif %}
                      </div>
                      <div class="list-header col-2 col-md-1">数量</div>
                      <div class="list-header col-2 col-lg-1">
                        {% if request.session.sort == 1 %}
                          価格
                        {% else %}
                          価格/{{user_categorized_product_list.0.item.unit.name}}
                        {% endif %}
                      </div>
                      <div class="list-header col-3 col-lg-2">商品詳細</div>
                      <div class="list-header col-3 col-lg-2">店舗</div>
                      <div class="list-header col-3 col-md-1">日付</div>
                      <div class="list-header col-2 col-md-1">割引</div>
                      <div class="list-header col-4 col-lg-2">コメント</div>
                      <div class="list-header col-2 col-lg-1">ユーザー</div>
                    </div>
                    <!-- 自分の投稿情報のブロック -->
                    {% for user_categorized_product in user_categorized_product_list %}
                    <div class="self row mb-1 flex-nowrap">
                      <div class="col-2 col-lg-1 price card-text p-2">
                        <span>
                          {% if request.session.sort == 1 %}
                            {{user_categorized_product.price_per_amount}}
                          {% else %}
                            {{user_categorized_product.price}}
                          {% endif %}
                        </span>円
                      </div>
                      <div class="col-2 col-md-1 card-text p-2">{{user_categorized_product.amount}}</div>
                      <div class="col-2 col-lg-1 card-text p-2">
                        {% if request.session.sort == 1 %}
                          {{user_categorized_product.price}}
                        {% else %}
                          {{user_categorized_product.price_per_amount}}
                        {% endif %}
                      </div>
                      <div class="col-3 col-lg-2 card-text p-2">{{user_categorized_product.detail}}</div>
                      <div class="col-3 col-lg-2 store card-text p-2">
                        <a href="/shopper/u_StoreInfo/{{user_categorized_product.store.id}}">
                          {{user_categorized_product.store.name}}
                        </a>
                      </div>
                      <div class="col-3 col-md-1 date card-text p-2">{{user_categorized_product.date|date:"Y-m-d"}}</div>
                      <div class="col-2 col-md-1 card-text p-2">{% if user_categorized_product.discount == 0 %}-{% else %}○{% endif %}</div>
                      <div class="col-4 col-lg-2 card-text p-2">{{user_categorized_product.comment}}</div>
                      <div class="col-2 col-lg-1 card-text p-2">あなた</div>
                    </div>
                    {% endfor %}
                    <!-- 他ユーザーの投稿情報の存在確認 -->
                    {% if other_categorized_product_lists != null and other_categorized_product_lists|length != 0 %}
                      {% for other_categorized_product_list in other_categorized_product_lists %}
                        <!-- 品目が合致するリストを抽出-->
                        {% if other_categorized_product_list.0.item == user_categorized_product_list.0.item %}
                          <!-- 他ユーザーの投稿情報のブロック -->
                          {% for other_categorized_product in other_categorized_product_list %}
                          <div class="other row mb-1 flex-nowrap">
                            <div class="col-2 col-lg-1 price card-text p-2">
                              <span>
                                {% if request.session.sort == 1 %}
                                  {{other_categorized_product.price_per_amount}}
                                {% else %}
                                  {{other_categorized_product.price}}
                                {% endif %}
                              </span>円
                            </div>
                            <div class="col-2 col-md-1 card-text p-2">{{other_categorized_product.amount}}</div>
                            <div class="col-2 col-lg-1 card-text p-2">
                              {% if request.session.sort == 1 %}
                                {{other_categorized_product.price}}
                              {% else %}
                                {{other_categorized_product.price_per_amount}}
                              {% endif %}
                            </div>
                            <div class="col-3 col-lg-2 card-text p-2">{{other_categorized_product.detail}}</div>
                            <div class="col-3 col-lg-2 store card-text p-2">
                              <a href="/shopper/u_StoreInfo/{{other_categorized_product.store.id}}">
                                  {{other_categorized_product.store.name}}
                              </a>
                            </div>
                            <div class="col-3 col-md-1 date card-text p-2">{{other_categorized_product.date|date:"Y-m-d"}}</div>
                            <div class="col-2 col-md-1 card-text p-2">{% if other_categorized_product.discount == 0 %}-{% else %}○{% endif %}</div>
                            <div class="col-4 col-lg-2 card-text p-2">{{other_categorized_product.comment}}</div>
                            <div class="col-2 col-lg-1 card-text p-2">{{other_categorized_product.user.name}}</div>
                          </div>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <div id="no_data">他ユーザーの投稿情報がありません</div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% else%}
            <div class="my-5">
              <p>まだ商品の投稿がありません。<br>
              商品情報を投稿してお買い得リストをゲットしましょう！</p>
              <a type="button" id="first_step_btn" class="btn btn-primary col-3 col-sm-2 mx-2" href="{% url 'u_RegisterProduct' %}">いまスグ投稿</a>

            </div>
          {% endif %}
        </div>
        <div class="tab-pane fade overflow-auto my-1" id="history" role="tabpanel" aria-labelledby="history-tab">
          {% if user_product_list != null and user_product_list|length != 0 %}
          <div class="card">
            <div class="card-body mb-1 overflow-auto">  
              <div class="row mb-1 flex-nowrap">
                <div class="list-header col-2 col-lg-2">日付</div>
                <div class="list-header col-2 col-lg-1">品目</div>
                <div class="list-header col-2 col-lg-1">価格</div>
                <div class="list-header col-2 col-lg-1">数量</div>
                <div class="list-header col-2 col-lg-2">商品詳細</div>
                <div class="list-header col-2 col-lg-2">店舗</div>
                <div class="list-header col-1 col-lg-1">割引</div>
                <div class="list-header col-3 col-lg-2">コメント</div>
              </div>
              {% for user_product in user_product_list %}
              <div class="self row mb-1 flex-nowrap">
                <div class="col-2 col-lg-2 card-text p-2">{{user_product.date|date:"Y-m-d"}}</div>
                <div class="col-2 col-lg-1 card-text p-2">{{user_product.item.name}}</div>
                <div class="col-2 col-lg-1 price card-text p-2"><span>{{user_product.price}}</span>円</div>
                <div class="col-2 col-lg-1 card-text p-2">{{user_product.amount}}</div>
                <div class="col-2 col-lg-2 card-text p-2">{{user_product.detail}}</div>
                <div class="col-2 col-lg-2 store card-text p-2">
                  <a href="/shopper/u_StoreInfo/{{user_product.store.id}}">
                    {{user_product.store.name}}
                  </a>
                </div>
                <div class="col-1 col-lg-1 card-text p-2">{% if user_product.discount == 0 %}-{% else %}○{% endif %}</div>
                <div class="col-3 col-lg-2 card-text p-2">{{user_product.comment}}</div>
              </div>
              {% endfor %}
            </div>
            {% else %}
              <div class="my-5">
                <p>まだ商品の投稿がありません。<br>
                商品情報を投稿してお買い得リストをゲットしましょう！</p>
                <a type="button" class="btn btn-primary col-3 col-sm-2 mx-2" href="{% url 'u_RegisterProduct' %}">いまスグ投稿</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_JS %}
  <!-- Latest compiled and minified JavaScript -->
  {% comment %} <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script> {% endcomment %}
  <script type="text/javascript" src="{% static 'shopper/js/main.js' %}"></script>
{% endblock %}


