{% extends 'shopper/base.html' %}
{% load static%}

{% block extra_head %}
  <title>パスワード変更完了</title>
{% endblock %}

{% block content %}
  <div class="container" style="max-width: 540px;">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <br>
      <h2>パスワード再設定完了</h2>
      <br>
      <p>新しいパスワードを使用してログインしてください。</p>
      <br>
      <a type="button" class="btn btn-outline-primary col-10" href="{% url 'u_Login' %}">ログイン画面へ</a>
    </div>
  </div>
</div>
{% endblock %}
