{% extends 'shopper/base.html' %}
{% load static%}

{% block extra_head %}
  <title>パスワード再設定認証2</title>
{% endblock %}

{% block content %}
  <div class="container" style="max-width: 540px;">
    <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
      <br>
      <h2>ワンタイムパスワード入力</h2>
      <br>
      <!-- エラーメッセージが存在するときだけ表示する -->
      <div id="errormessage"></div>
      <div class="container">
        <form id="main_form">
          <div class="form-outline mb-1" id="onetime_password_outline">
            <label for="onetime_password" class="form-label">パスワード<span class="badge bg-danger mx-2">必須</span></label>
            <input type="text" class="form-control" id="onetime_password" name="onetime_password" pattern="\d{6}" required="required" placeholder="6桁の数字を入力してください"/>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">有効なパスワードを入力してください</div>
          </div>
          <br>
          <div class="row justify-content-center">
            <button type="button" id="subm1" class="btn btn-primary col-3 mx-2" disabled="disabled">送信</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div id="errorToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="" width="20" height="20" class="rounded me-2" alt="result"/>
        <strong class="me-auto"></strong>
        <small>たったいま</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_JS %}
  <script type="text/javascript" src="{% static 'shopper/js/additional.js' %}"></script>
  <script type="text/javascript" src="{% static 'shopper/js/validation.js' %}"></script>
  <script type="text/javascript" src="{% static 'shopper/js/validation_forResetPassAuth2.js' %}"></script>
  <script type="text/javascript" src="{% static 'shopper/js/resetPassAuth2.js' %}"></script>
{% endblock %}
