@charset "UTF-8";

/* 極小デバイス（縦向きモバイル, 576px 未満） */
@media (max-width: 575.98px) {
	input[type=checkbox] {
		transform: scale(0.7);
		margin-top: 0.1rem !important;
		margin-left: -1.5rem !important;
	}
}

ul {
	padding-left: 0px;
}

.price {
	color: #db3e26;
	text-align: center;
	font-weight: bold;
	line-height: 1.5;
	box-sizing: border-box;
	padding-right: 3px;
	letter-spacing: -.05em;
	vertical-align: -1px;
}

.price>span {
	font-size: 1.5rem;
}

.store,
.date {
	font-size: 0.9rem;
}

.list-header {
	font-size: 0.8rem;
	color: #666;
	background: #f5f5f5;
}

.self>* {
	background: #eef7fa;
}

.card-body:has(.other) #no_data {
	display: none;
}

#header_area {
	width: 100%;
}

.ms-parent {
	height: 100%;
}

.ms-button {
	text-align: start;
}

.ms-button>span {
	display: block;
	height: 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.icon-caret {
	display: none;
}

.ms-parent:hover .ms-drop {
	display: block;
}

.ms-button:focus+.ms-drop {
	display: block;
}