@charset "UTF-8";

ul {
	padding-left: 0px;
}

.price {
	color: #db3e26;
	text-align: center;
	font-weight: bold;
	line-height: 1.5;
	box-sizing: border-box;
	padding-right: 3px;
	letter-spacing: -.05em;
	vertical-align: -1px;
}

.price>span {
	font-size: 1.5rem;
}

.store,
.date {
	font-size: 0.9rem;
}

.list-header {
	font-size: 0.8rem;
	color: #666;
	background: #f5f5f5;
}

.self>* {
	background: #eef7fa;
}

.card-body:has(.other) #no_data {
	display: none;
}

#header_area {
	width: 100%;
}
.ms-parent {
	height: 100%;
}

.ms-choice {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	-moz-padding-start: calc(0.75rem - 3px);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.ms-choice>span {
	position: unset;
	padding-left: 0;
}

.icon-caret {
	display: none;
}

/* .ms-drop {
	left: 0px;
} */

.ms-parent:hover .ms-drop{
	display: block;
}

.ms-choice:focus + .ms-drop{
	display: block;
}
